
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kings&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://unpkg.com/boxicons@2.1.3/dist/boxicons.js');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  /* background-image: radial-gradient(#0d409d 1px, #000000 1px); */
  /* background-image: radial-gradient(#590d22 1px, #000000 1px); */
  /* background-image: radial-gradient(#0d409d 1px, #000000 1px); */
  background-image: radial-gradient(#323232 1px, #000000 1px);
  background-size: 20px 20px;
  /* background-attachment:fixed; */
  /* background-image: radial-gradient(#0d409d 1px, transparent 1px), radial-gradient(#0d409d 1px, transparent 1px);
background-size: 32px 32px;
background-position: 0 0, 16px 16px;
background-color: #000000; */
/* background-image: radial-gradient(#071689 0.8px, transparent 0.8px), radial-gradient(#00108d 0.8px, transparent 0.8px);
background-size: 20px 20px;
background-position: 0 0, 10px 10px;
background-color: #000000; */
}
/*----------- Landing  Header ----------------*/

.svg {
  background: none;
}

.background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.7) 80%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.1) 100%
  );
  position: absolute; /* Makes it stay in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Keeps it behind all other elements */
}


.shadowEffect{
  box-shadow: #3f37c9 0px 50px 500px 280px;
}
.shadowEffect2{
  box-shadow: #f72585 -170px 300px 250px 120px;
}
.shadowEffect3{
  box-shadow: #3a0ca3 -500px -40px 400px 150px;
}
.shadowEffect4{
  box-shadow: #b5179e 0px 0px 200px 80px;
}
.imageShadow{
  box-shadow:  #000000 0px 0px 100px 70px;
}




.button-64 {
  align-items: center;
  background-image: linear-gradient(90deg,#f72585 ,#7209b7, #3a0ca3 ,#3f37c9);
  border-radius: 0px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

/* -------------------- Project ----------------------- */





/* ----------------------- Footer -------------------------- */

.footer {
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 70%,rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.1) 100%);
}

.frame {
  background: #ffffff;
  height: 788px;
  width: 770px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about-bg{
  background: #000000;
  background: radial-gradient(ellipse farthest-corner at center center, #000000 54%, rgba(0, 0, 0, 0) 80%);
  }


@layer utilities {
  .card-wrapper {
    box-shadow: 0 0 10px #f72585, 0 0 20px #b5179e, 0 0 30px #7209b7, 0 0 40px #560bad, 0 0 50px #3a0ca3;
  }

  .card-wrapper::before {
    background: conic-gradient(
      #f72585,
      #b5179e,
      #7209b7,
      #560bad,
      #3a0ca3,
      #3f37c9,
      #4361ee,
      #4895ef,
      #4cc9f0,
      transparent 110%
    );
    @apply absolute h-[850%] w-[200%] content-[''] animate-boarder-spin;
  }

  .circle-box {
    @apply overflow-hidden;
  }

  .circle-box::before {
    background: conic-gradient(
      #f72585,
      #b5179e,
      #7209b7,
      #560bad,
      #3a0ca3,
      #3f37c9,
      #4361ee,
      #4895ef,
      #4cc9f0,
      transparent 120%
    );
    /* Apply Tailwind classes for width/height */
    @apply absolute h-[50rem] w-[85rem] top-[-24rem] left-[-30rem] content-[''] animate-boarder-spin;
    

  }

  .button-footer {
    align-items: center;
    background-image: linear-gradient(145deg, #b5179e,  #3a0ca3 , #3f37c9);
    border-radius: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    line-height: 1em;
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-footer:active,
  .button-footer:hover {
    outline: 0;
  }
  
  .button-footer div {
    background-color: rgb(0, 0, 0);
    padding: 10px 24px;
    border-radius: 10px;
    /* height: 100%; */
    transition: 300ms;
  }
  
  .button-footer:hover div {
    background: none;
  }
}